<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.dao.PowerDao">
    <select id="getPower" resultType="com.liu.entity.Power">
        select * from power
    </select>

    <delete id="deletePower">
        delete from power
    </delete>

    <update id="updatePower" parameterType="com.liu.entity.Power">
        update power
        <set>
            power.selectCourse = #{ selectCourse },
            power.score = #{score},
            power.abnormal = #{abnormal}
        </set>
    </update>

    <insert id="insertPower" parameterType="com.liu.entity.Power">
        insert into power values (#{selectCourse}, #{score}, #{abnormal})
    </insert>
</mapper>